{% macro item(item, matcher, position) %}

    {% set uri = item.uri %}

    {% if uri is not same as(null) and matcher.isCurrent(item) %}

        {% set uri = null %}

    {% endif %}

    {% set element = uri is not same as(null) ? 'a' : 'span' %}

    {% set attr = {
        'itemprop':  'itemListElement',
        'itemscope': null,
        'itemtype':  'https://schema.org/ListItem',
    } %}

    {% if uri is not same as(null) %}

        {% set attr = attr|merge({
            'href': uri,
        }) %}

    {% endif %}

    <{{ element }}{% for name, value in attr %} {{ name }}{% if value is not same as(null) %}="{{ value }}"{% endif %}{% endfor %}>
        <meta itemprop="position" content="{{ position }}">
        <meta itemprop="name" content="{{ item.label }}">

        {% if uri is not same as(null) %}
            <meta itemprop="item" content="{{ uri }}">
        {% endif %}

        {{ item.label }}</{{ element }}>
{% endmacro %}

{% macro list(item, matcher, position = 0) %}

    {% set position = position + 1 %}

    {% for child in item.children %}

        {{ _self.item(child, matcher, position) }}

        {{ _self.list(child, matcher, position) }}

    {% endfor %}

{% endmacro %}

<div class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">

    {{ _self.list(item, matcher) }}

</div>
