{% macro item(item, matcher) %}

    {% set uri = item.uri %}

    {% if uri is not same as(null) and matcher.isCurrent(item) %}

        {% set uri = null %}

    {% endif %}

    {% set element = uri is not same as(null) ? 'a' : 'span' %}

    {% set attr = {
        'itemprop':  'itemListElement',
        'itemscope': null,
        'itemtype':  'https://schema.org/ListItem',
    } %}

    {% if uri is not same as(null) %}

        {% set attr = attr|merge({
            'href': uri,
        }) %}

    {% endif %}

    <{{ element }}{% for name, value in attr %} {{ name }}{% if value is not same as(null) %}="{{ value }}"{% endif %}{% endfor %}>
        {{ item.label }}
        <meta itemprop="position" content="1">
        <meta itemprop="name" content="{{ item.label }}">
        {% if uri is not same as(null) %}
            <meta itemprop="item" content="{{ uri }}">
        {% endif %}
    </{{ element }}>
{% endmacro %}

{% macro list(item, matcher) %}
    {% for child in item.children %}
        {{ _self.item(child, matcher) }}
        {{ _self.list(child, matcher) }}
    {% endfor %}
{% endmacro %}

<div class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
    {{ _self.list(item, matcher) }}
</div>
