{%- block darvin_menu_switcher_row -%}
    {%- set compound  = false -%}
    {%- set data_type = 'checkbox' -%}
    {%- set show_help = false -%}
    {{- block('form_row') -}}
{%- endblock darvin_menu_switcher_row -%}

{%- block darvin_menu_switcher_widget -%}
    <div class="form-item__Ñheckbox">
        {%- for child in form -%}
            {{- form_widget(child, {'checkbox_show_label': true}) -}}
            {{- form_errors(child) -}}
        {%- endfor -%}
    </div>
    <script>
        $(function () {
            var $checkboxes = $('#{{ id }} input[type="checkbox"][data-default]');

            if (!$checkboxes.length) {
                return;
            }

            var $parent = $checkboxes.closest('form').find('{{ parent_selector }}:first');

            if (!$parent.length) {
                return;
            }

            $checkboxes.click(function () {
                $(this).data('manual', true);
            });

            var toggleCheckboxes;
            (toggleCheckboxes = function () {
                $checkboxes.each(function () {
                    var $checkbox = $(this);

                    if (!$checkbox.data('manual')) {
                        $checkbox[0].checked = '' === $parent.val();
                    }
                });
            })();
            $parent.change(toggleCheckboxes);
        });
    </script>
{%- endblock -%}
