{% import _self as that %}

{% macro list(item, matcher, options) %}

    {% import _self as that %}

    {% if item.children is not empty and (options.depth is same as(null) or item.level < options.depth) %}
        <ul>
            {% for child in item.children %}

                {% set classes = [] %}

                {% if matcher.isCurrent(child) or matcher.isAncestor(child) %}

                    {% set classes = classes|merge(['current']) %}

                {% endif %}

                <li{% if classes is not empty %} class="{{ classes|join(' ') }}"{% endif %}>
                    {% if image_exists(child.extras.image) %}
                        <img src="{{ child.extras.image|image_filter('menu_main') }}" alt="{{ child.label }}">
                        {% if image_exists(child.extras.hoverImage) %}
                            <img src="{{ child.extras.hoverImage|image_filter('menu_hover') }}" alt="{{ child.label }}">
                        {% endif %}
                    {% endif %}
                    {% if child.uri %}
                        <a href="{{ child.uri }}">{{ child.label }}</a>
                    {% else %}
                        <span>{{ child.label }}</span>
                    {% endif %}
                    {{ that.list(child, matcher, options) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% if item.children is not empty %}
    <nav>
        {{ that.list(item, matcher, options) }}
    </nav>
{% endif %}
