{% extends 'knp_menu.html.twig' %}

{% block children %}
    {# save current variables #}
    {% set currentOptions = options %}
    {% set currentItem = item %}
    {# update the depth for children #}
    {% if options.depth is not none %}
        {% set options = options|merge({'depth': currentOptions.depth - 1}) %}
    {% endif %}
    {# update the matchingDepth for children #}
    {% if options.matchingDepth is not none and options.matchingDepth > 0 %}
        {% set options = options|merge({'matchingDepth': currentOptions.matchingDepth - 1}) %}
    {% endif %}
    {% for item in currentItem.children if not item.extras.isSlugMapItem or currentItem.extras.showSlugMapChildren %}
        {{ block('item') }}
    {% endfor %}
    {# restore current variables #}
    {% set item = currentItem %}
    {% set options = currentOptions %}
{% endblock %}

{% block images %}
    {% if image_exists(item.extras.image) %}
        <img src="{{ item.extras.image|image_crop('menu_item_image') }}" alt="" title="">
    {% endif %}
    {% if image_exists(item.extras.hoverImage) %}
        <img src="{{ item.extras.hoverImage|image_crop('menu_item_hover_image') }}" class="hover" alt="" title="">
    {% endif %}
{% endblock %}

{% block linkElement %}

    {% import 'knp_menu.html.twig' as knp_menu %}

    {{ block('images') }}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}

    {% import 'knp_menu.html.twig' as knp_menu %}

    {{ block('images') }}
    <span{{ knp_menu.attributes(item.labelAttributes) }}>
        {{ block('label') }}
    </span>
{% endblock %}
