{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren
        and options.depth is not same as(0)
        and item.displayChildren
        and (not item.extras.hasSlugMapChildren or item.extras.showSlugMapChildren)
    %}

        {% import 'knp_menu.html.twig' as knp_menu %}

        <ul{{ knp_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block image %}

    {% set image       = image_exists(item.extras.image) ? item.extras.image|image_crop('menu_item_image') : null %}
    {% set hover_image = image_exists(item.extras.hoverImage) ? item.extras.hoverImage|image_crop('menu_item_hover_image') : image %}

    {% if image %}
        <img src="{{ image }}" onmouseover="this.src='{{ hover_image }}';" onmouseout="this.src='{{ image }}';" alt="" title="">
    {% endif %}
{% endblock %}

{% block linkElement %}

    {% import 'knp_menu.html.twig' as knp_menu %}

    {{ block('image') }}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        {{ block('label') }}
    </a>
{% endblock %}

{% block spanElement %}

    {% import 'knp_menu.html.twig' as knp_menu %}

    {{ block('image') }}
    <span{{ knp_menu.attributes(item.labelAttributes) }}>
        {{ block('label') }}
    </span>
{% endblock %}
