{% macro image(item, image) %}
    <img src="{{ image|image_filter('menu_main') }}"
         alt="{{ image|image_alt(item.label) }}"
         title="{{ image|image_title(item.label) }}">
{% endmacro %}

{% macro item(item, matcher) %}

    {% set classes = [] %}

    {% if matcher.isCurrent(item) or matcher.isAncestor(item) %}

        {% set classes = classes|merge(['-current']) %}

    {% endif %}

    <li{% if classes is not empty %} class="{{ classes|join(' ') }}"{% endif %}>

        {% if item.uri is not same as(null) %}
            <a href="{{ item.uri }}">{{ _self.image(item, item.extras.image) }}</a>
            <a href="{{ item.uri }}">{{ _self.image(item, item.extras.hoverImage) }}</a>
            <a href="{{ item.uri }}">{{ item.label }}</a>
        {% else %}
            <span>{{ _self.image(item, item.extras.image) }}</span>
            <span>{{ _self.image(item, item.extras.hoverImage) }}</span>
            <span>{{ item.label }}</span>
        {% endif %}

        {% if item.children is not empty %}
            <ul>

                {% for child in item.children %}

                    {{ _self.item(child, matcher) }}

                {% endfor %}

            </ul>
        {% endif %}

    </li>
{% endmacro %}

{% if item.children is not empty %}
    <ul>

        {% for child in item.children %}

            {{ _self.item(child, matcher) }}

        {% endfor %}

    </ul>
{% endif %}
